<ion-header class="ion-no-border">
<ion-toolbar color="light">
<ion-buttons slot="start">
<ion-back-button></ion-back-button>
</ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content *ngIf="text && setting" scroll-y="false" class="ion-padding">

<p align="center"><ion-icon name="lock-open-outline" style="font-size: 70px;"></ion-icon></p>
<h1 align="center">Login</h1>

<form #form="ngForm" (ngSubmit)="login(form.value)" class="ion-padding">

<ion-item lines="none" *ngIf="setting.verify_type == 0 || setting.verify_type == 3">
  <ion-label position="floating">{{ text.login_email }}</ion-label>
  <ion-input type="email" [(ngModel)]="email" required name="email"></ion-input>
</ion-item>

<ion-item lines="none" *ngIf="setting.verify_type == 1 || setting.verify_type == 2">
  <ion-label position="floating">{{ text.signup_phone }}</ion-label>
  <ion-input type="tel" [(ngModel)]="phone" required name="phone"></ion-input>
</ion-item>

<ion-item lines="none">
  <ion-label position="floating">{{ text.login_password }}</ion-label>
  <ion-input type="password" [(ngModel)]="password" required name="password"></ion-input>
</ion-item>

<a routerLink="/forgot" routerDirection="forward" style="color:gray;font-size: 14px;float:right">{{ text.forgot_pass }}</a>

<br>
<ion-button expand="block" mode="ios" type="submit" style="margin-top: 15px">{{ text.login_button }}</ion-button>
</form>

</ion-content>


<ion-footer class="ion-no-border">
<ion-toolbar color="light">
<p align="center">{{ text.dont_have }} <a routerLink="/signup" routerDirection="forward">{{ text.signup_now }}</a></p>
</ion-toolbar>
</ion-footer>
